<div class="container shape-container d-flex align-items-center py-lg-0">
  <h1>Hello...!!!</h1>
  <div class="pt-4" *ngIf="data.status!==undefined">
    <p><b>Status</b> : {{data.status}}</p>
  </div>
  <div class="pt-4" *ngIf="data.status==undefined">
    <h1>hello</h1>
    <p><b>Message ID</b> : {{data.messageId}}</p>
    <p><b>Message Type</b> : {{data.messageType}}</p>
    <h4>------Values------</h4>
    <p><b>Charging Point Id</b> : {{data.values.chargePointId}}</p>
    <p><b>Connector ID</b> : {{data.values.connectorId}}</p>
    <p [ngClass]="{
      'text-danger':data.values.status=='Offline',
      'text-success':data.values.status=='Online',
      'text-primary':data.values.status=='Available'
    }"><b>Status</b> : {{data.values.status}}</p>
    <p><b>Time</b> : {{data.values.timeStamp|date:"dd-mm-yyyy-->hh:mm:ss"}}</p>
    <p><b>Test</b> : {{data.values.test}}</p>
  </div>
</div>
